@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');

::-webkit-scrollbar {
    display: none;
  }
  
html {
overflow: auto;
scrollbar-width: none;
}

body{
    margin: 0;
    padding : 0;
    height: 100vh;
    width: 100vw;
    background-size: contain;
    background-attachment: fixed;
    display : flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
    &::before {
        content: "";
        position: fixed;
        left: 0;
        right: 0;
        z-index: -1;
        display: block;
        background-image: url("granite-texture.jpg");
        width: 100vw;
        height: 100vh;
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: blur(0.5px);
      }
      &::-webkit-scrollbar{
        display: none;
      }
}

button{
    background-color: transparent;
    border: none;
}


.ajouter{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5vh;
    .addTxt{
        width : 25vw;
        min-width: 150px;
        height : 40px;
        background-color: rgb(245, 236, 187);
    }
    .addBtn{
        display : flex;
        align-items: center;
        justify-content: center;
        height : 50px;
        width : 50px;
        .addImage{
            height : 50px;
            width : 50px;
        }
    }
}

.list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding : 5vw;
    width : 75vw;
    .element{
        position: relative;
        width : 250px;
        height : 250px;
        background-color: rgb(247, 247, 142);
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        font-family: 'Coming Soon', cursive;
        font-size : 1.5rem;
        font-weight: 600;
        box-sizing: border-box;
        text-align: center;
        line-height: 1.8rem;
        padding: 30px;
        box-shadow: 5px 5px 15px black;
        border: 5px solid rgb(231, 213, 108);
        border-radius: 5px;
        margin-left: 30px;
        transition: 0.3s;
        &:hover{
            transform: scale(1.03);
        }
        .pin{
            position: absolute;
            top : -25px;
            width : 50px;
            height : 50px;
        }
        .boutons{
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-top: 100px;
            width : 100px;
            bottom : 10px;
            .done{
                width : 30px;
                height : 30px;
                transition: 0.3s;
                &:hover{
                    transform: scale(1.2);
                }
            }
            .supprimer{
                width : 30px;
                height : 30px;
                transition: 0.3s;
                &:hover{
                    transform: scale(1.2);
                }
            }
        }
    }
}
